aside {
    width: 20%;
    padding: 0 0.5rem 0 0.5rem;
    margin-right: 1rem;
    float: left;
    box-shadow: 5px 0 5px -5px var(--asideMainColor);
    color: var(--asideMainColor);
}

aside p {
    margin: 0.5rem;
}